version: '3.2'

volumes:
  prometheus_data: {}
  grafana_data: {}
  mysql_exporter_data: {}

networks:
  monitor:

services:
  prometheus:
    image: prom/prometheus:v2.39.0
    ports:
      - 9090:9090
    networks:
      - monitor
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    depends_on:
      - node-exporter

  node-exporter:
    image: prom/node-exporter:v1.4.0
    ports:
      - 9100:9100
    networks:
      - monitor
    volumes:
      - /proc:/host/proc
      - /sys:/host/sys
      - /:/rootfs
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--collector.textfile.directory=/etc/node-exporter/"
      - '--collector.filesystem.ignored-mount-points="^/(sys|proc|dev|host|etc)($$|/)"'

  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    depends_on:
      - prometheus
    networks:
      - monitor
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false


  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
    - 8080:8080
    networks:
      - monitor


  mysql:
    image: mysql:5.7
    ports:
      - 3306:3306
    networks:
      - monitor
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=demodb

  mysql-exporter:
    image: prom/mysqld-exporter
    ports:
      - 9104:9104
    networks:
      - monitor
    environment:
      - DATA_SOURCE_NAME=root:root@(mysql:3306)/demodb
    depends_on:
      - mysql
    volumes:
      - mysql_exporter_data:/etc/node-exporter/

  nodejs:
    image: christianheimke/demo-backend-nodejs:001
    container_name: nodejs
    environment:
    - PORT=5000
    ports:
    - 5000:5000
    networks:
      - monitor
